* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2B283A;
}

.flex-all-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-cont{
  background-color: #F5F5F5;
  padding: 16px;
  max-width: 320px;
  height: 380px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-around;
}
.timer-cont{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.timer-cont h2{
  font-size: 14px;
}
.title{
  font-size: 32px;
}
.instructions{
  font-size: 16px;
  text-align: center;
}

.die-cont{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
}
.die-face{
  width: 36px;
  height: 36px;
  background-color: white;
  box-shadow: 0 0px 3px #2B283A;  
  border-radius: 4px;
  cursor: pointer;
}
.dice-num{
  font-size: 20px;
  color: #2B283A;
}
.is-held{
  background-color:  #59E391
}

/* Button Style */
.roll-btn{
  width: 100px;
  height: 35px;
  border-radius: 6px;
  background-color: #5035FF;
  
  border: none; 
}
.roll-btn:active{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}